* {
    box-sizing: border-box;
}
html, body{
    background-color: rgb(175, 170, 170);
    height: 100%;
    width: 100%;
}
#image{
    width:30px;
    height:40px;
    padding-bottom:5px;
    
}
#quote-box{
    text-align:center;
    height:auto;
    width:350px;
    height: 250px;
    border: 1px solid gray;
    margin-top:100px;
    padding-top:50px;
    background-color: rgb(30, 77, 30);
    color:rgb(202, 191, 191);
    position: relative;
}
#heading{
    text-align: center;
    font-family: comic san MS;
    text-decoration: underline;
}
.content {
    height: 75%;
}
